* {margin:0; padding:0; border:0;}

body {font-size:12pt; margin:0; padding: 0; border:0; font-family: arial;}

#page {margin-left:auto; margin-right:auto; width:58em; margin-top:0.5em; background-color:#e0f0e0}
#header, #footer {background-color:#383; color:#ececec, clear:both}
#header {text-align:right}
#footer {text-align:center}
#content {clear:both; position:relative; background-color:#fff}

/* navigation bar */
#navigation {position:relative;}
#navigation li {float:left; font-weight: bold; color:#33339f; font-size: 0.9em; padding:0.25em}

/* table */
/*table { border-collapse:collapse; }*/
img {vertical-align:middle}
table { border-collapse:separate; border-spacing:0.1em 0.1em; }
td { border:1px solid #ccc; text-align:center; vertical-align:middle; }
#winning_pick { border:2px solid #00f; background-color:#0f0}
#winning_team_cell {background-color:#0ff}
#winning_tie_breaker {background-color:#ff0}

ul {list-style-type: none;}