{% extends "base.html" %}

{% block content %}
<div id="content_title">
<h1>Submitting matchups <em>Week {{selected_week}} - {{week_dates}}</em></h1>
</div>

{% if submitted_picks %}
<div id="submitted_picks">
<p>Successfully submitted picks</p>
</div>
{% endif %}

<p>Week number:</p>
{% for week_number in weeks %}
{% if selected_week == week_number %}
{{week_number}}
{% else %}
<a href="{% url 'matchups:submit_picks_for_week' week_number %}">{{week_number}}</a>  
{% endif %}
{% endfor %}

{% if error_message %}
	<div class='error_message'>
	{{error_message}}
	</div>
{% endif %}

{% if form_list %}
	<form action="{% url 'matchups:submit_picks' %}" method="post">
	{% csrf_token %}
	
	{% for form in form_list %}
	<div class="form">
		{{form}}
	</div>
	{% endfor %}
		<div id="submit_button">
			<input type="submit" value="Submit picks" id="submit"/>
		</div>
	</form>
{% else %}
	<p>No matchups available</p>
{% endif %}
{% endblock %}